.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e4e4f7;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    margin:1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}

.login-input{
    padding: 15px;
    margin: 10px 0px 20px 0px;
    width: 200px;
    border: none;
    background-color: #ececee;
    border-radius: 10px;
}

.login-heading{
    font-weight: bold;
    align-self: center;
    font-size: 1.8rem;
    margin-bottom: 25px;
    padding: 2px;
    border-bottom: 1px solid gray;
}

.login-title{
    font-weight: bold;
    align-self: flex-start;
}

.login-button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #211df2;
    color: white;
    font-weight: bold;
    margin: 1rem 0rem;
    cursor: pointer;
}

.login-button:hover{
    background-color: #0906c2;
}

.error-text{
    font-size: 0.8rem;
    color: red;
    max-width: 200px;
}
