.logout-button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #211df2;
    color: white;
    font-weight: bold;
    margin: 1rem 0rem;
    cursor: pointer;
}

.logout-button:hover{
    background-color: #0906c2;
}